Repository iml885203/run-script-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: goimports, go-test, frontend-test, frontend-type-check, frontend-build-check

.pre-commit-config.yaml:

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Go-specific hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-mod-tidy

  # golangci-lint (updated to match CI version)
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.60.1
    hooks:
      - id: golangci-lint

  # Custom Go tools
  - repo: local
    hooks:
      # Install and run goimports
      - id: goimports
        name: goimports
        entry: bash -c 'go install golang.org/x/tools/cmd/goimports@latest && $(go env GOPATH)/bin/goimports -local run-script-service -w .'
        language: system
        files: \.go$
        pass_filenames: false

      # Go Tests
      - id: go-test
        name: go test
        entry: go test ./...
        language: system
        files: \.go$
        pass_filenames: false

      # Frontend Tests
      - id: frontend-test
        name: frontend test
        entry: bash -c 'if [ -d "web/frontend" ] && [ -f "web/frontend/package.json" ]; then cd web/frontend && pnpm test -- --run; else echo "Frontend project not found, skipping tests"; fi'
        language: system
        files: ^web/frontend/.*\.(ts|js|vue)$
        pass_filenames: false

      # Frontend Type Check
      - id: frontend-type-check
        name: frontend type check
        entry: bash -c 'if [ -d "web/frontend" ] && [ -f "web/frontend/package.json" ]; then cd web/frontend && pnpm type-check; else echo "Frontend project not found, skipping type check"; fi'
        language: system
        files: ^web/frontend/.*\.(ts|vue)$
        pass_filenames: false

      # Frontend Build Check
      - id: frontend-build-check
        name: frontend build check
        entry: bash -c 'if [ -d "web/frontend" ] && [ -f "web/frontend/package.json" ]; then cd web/frontend && pnpm build > /dev/null 2>&1 && echo "Frontend builds successfully" || echo "Frontend build failed - check for errors"; else echo "Frontend project not found, skipping build check"; fi'
        language: system
        files: ^web/frontend/.*\.(ts|js|vue)$
        pass_filenames: false

docs: update Quick Start and build process documentation
  CLAUDE.md
  Makefile
  README.md
  web/frontend/package.json
  web/frontend/pnpm-lock.yaml
Due: none

chore: remove unnecessary test scripts and update gitignore
  .gitignore
  test1.sh
  test2.sh
  test_integration.sh
  upgrade.sh
Due: none

feat: implement comprehensive web interface authentication
  auth/handler.go
  auth/handler_test.go
  auth/middleware.go
  auth/middleware_test.go
  auth/session.go
  auth/session_test.go
  main.go
  plans/authentication-plan.md
  plans/streaming-logging-plan.md
  web/frontend/src/composables/useAuth.ts
  web/frontend/src/router/guards.ts
  web/frontend/src/router/index.ts
  web/frontend/src/services/authService.ts
  web/frontend/src/views/Login.vue
  web/handlers_files.go
  web/handlers_files_test.go
  web/server.go
  web/server_test.go
Due: goimports, go-test, frontend-test, frontend-type-check, frontend-build-check

refactor: improve code formatting and add authentication test helpers
  auth/handler_test.go
  plans/authentication-plan.md
  plans/enhanced-script-creation-plan.md
  plans/real-time-config-updates-plan.md
  plans/streaming-logging-plan.md
  web/frontend/src/composables/useAuth.ts
  web/frontend/src/router/guards.ts
  web/frontend/src/services/authService.ts
  web/frontend/src/views/Login.vue
  web/handlers_files_test.go
  web/server.go
  web/server_test.go
Due: goimports, go-test, frontend-test, frontend-type-check, frontend-build-check

test: add comprehensive authentication test coverage
  web/frontend/tests/unit/composables/useAuth.test.ts
  web/frontend/tests/unit/router/guards.test.ts
  web/frontend/tests/unit/services/authService.test.ts
  web/frontend/tests/unit/views/Login.test.ts
Due: frontend-test, frontend-type-check, frontend-build-check

docs: complete authentication plan implementation
  README.md
  coverage.html
  coverage.out
  plans/authentication-plan.md
  service/git_discovery.go
  service/git_discovery_test.go
  web/server.go
  web/server_test.go
Due: goimports, go-test

feat: implement comprehensive script generator service
  service/script_generator.go
  service/script_generator_test.go
Due: goimports, go-test

feat: add git service integration for project discovery
  web/frontend/src/services/api.ts
  web/frontend/src/services/gitService.ts
  web/frontend/tests/unit/services/gitService.test.ts
Due: frontend-test, frontend-type-check, frontend-build-check

feat: add script template API endpoint for enhanced script creation
  web/server.go
  web/server_test.go
Due: goimports, go-test

feat: implement CreateScriptForm component for enhanced script creation
  web/frontend/src/components/CreateScriptForm.vue
  web/frontend/tests/unit/components/CreateScriptForm.test.ts
Due: frontend-test, frontend-type-check, frontend-build-check

docs: mark enhanced script creation plan as completed
  README.md
  plans/enhanced-script-creation-plan.md
Due: none

feat: implement Phase 1 foundation for real-time config updates
  service/script_manager.go
  service/script_manager_test.go
  service/script_runner.go
  service/script_runner_test.go
Due: goimports, go-test

docs: complete real-time config updates plan
  README.md
  plans/real-time-config-updates-plan.md
  service/config.go
  service/script_manager.go
  web/server.go
Due: goimports, go-test

fix: resolve frontend authentication and static resource issues
  web/frontend/src/services/authService.ts
  web/frontend/tests/unit/services/authService.test.ts
  web/server.go
Due: goimports, go-test, frontend-test, frontend-type-check, frontend-build-check

fix: enable script creation via UI by adding missing name field
  web/frontend/src/composables/useScripts.ts
  web/frontend/src/services/api.ts
  web/frontend/src/views/Scripts.vue
  web/frontend/tests/unit/composables/useScripts.test.ts
Due: frontend-test, frontend-type-check, frontend-build-check

docs: add configuration management enhancement plan
  plans/config-management-enhancement.md
Due: none

chore: ignore cookie files from testing artifacts
  .gitignore
Due: none

docs: add comprehensive implementation plans for UI enhancements
  plans/dashboard-metrics-display-fix.md
  plans/inline-script-management.md
  plans/streaming-logging-plan.md
Due: none

feat: implement hybrid configuration system with .env support
  .env.example
  service/config.go
  service/config_test.go
  service/env_loader.go
  service/env_loader_test.go
Due: goimports, go-test

feat: integrate hybrid configuration system into web service startup
  main.go
  main_test.go
Due: goimports, go-test

docs: mark config-management-enhancement plan as completed
  README.md
  plans/config-management-enhancement.md
Due: none

feat: implement dashboard metrics formatting fix
  web/frontend/src/utils/formatters.ts
  web/frontend/src/views/Dashboard.vue
  web/frontend/tests/unit/utils/formatters.test.ts
Due: frontend-test, frontend-type-check, frontend-build-check

docs: complete dashboard-metrics-display-fix plan
  README.md
Due: none

feat: implement inline script file management system
  plans/dashboard-metrics-display-fix.md
  service/script_file_manager.go
  service/script_file_manager_test.go
Due: goimports, go-test

feat: implement inline script file management system
  service/config.go
  service/script_manager.go
  web/handlers_script_files.go
  web/handlers_script_files_test.go
  web/server.go
Due: goimports, go-test

feat: complete inline script management system with comprehensive tests
  main.go
  main_integration_test.go
  main_script_file_manager_test.go
  script_file_manager_integration_test.go
Due: goimports, go-test

docs: complete inline-script-management plan
  .gitignore
  README.md
  coverage.html
  coverage.out
  plans/inline-script-management.md
  test_run/.env
  test_run/test_run_dir/.env
Due: none

feat: implement core streaming executor infrastructure with comprehensive tests
  service/executor.go
  service/streaming_executor.go
  service/streaming_executor_test.go
Due: goimports, go-test

feat: implement core streaming executor infrastructure with comprehensive tests
  coverage.html
  coverage.out
  service/executor.go
  service/streaming_executor.go
  service/streaming_executor_test.go
Due: goimports, go-test

docs: mark streaming logging plan as completed
  README.md
Due: none

docs: complete streaming logging plan implementation
  plans/streaming-logging-plan.md
  web/frontend/src/views/Scripts.vue
  web/frontend/tests/unit/views/Scripts.test.ts
Due: frontend-test, frontend-type-check, frontend-build-check

test: enhance service validation and refactor executor methods
  main.go
  main_test.go
Due: goimports, go-test

test: enhance service validation and refactor executor methods
  main_test.go
Due: goimports, go-test

test: enhance service validation and refactor executor methods
  coverage.html
  coverage.out
Due: none

test: add failing test for ExecuteWithResult method
  service/executor_test.go
Due: goimports, go-test

feat: implement ExecuteWithResult method for enhanced error handling
  service/executor.go
  service/executor_test.go
Due: goimports, go-test

feat: implement ExecuteWithResult method for enhanced error handling
  coverage.html
  coverage.out
  service/debug_logger.go
  service/debug_logger_test.go
  web/server.go
  web/server_test.go
Due: goimports, go-test

feat: enhance ExecuteWithStreaming with proper goroutine synchronization
  service/executor.go
Due: goimports, go-test

feat: enhance ExecuteWithStreaming with proper goroutine synchronization
  coverage.html
  coverage.out
Due: none

test: add failing test for ExecuteWithResultStreaming method
  service/executor_test.go
Due: goimports, go-test
